.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {
	font-weight: bold;
	text-decoration: none;
}
.wrap {
	width: 100%; /* fixed width, centered in viewport */
	min-height: 500px;
	height: 50vh;
	position: relative;
	/* display: table-cell; */
	vertical-align: middle;
	/* margin-left: 5%; */
}
@media (max-width: 992px) {
	.wrap {
		height: 50vh;
		margin-left: 0%;
	}
}

.wrap > h1 {
	font-size: 2.5em;
	text-align: center;
	padding-bottom: 3px;
}

#showcase {
	width: 100%;
	visibility: hidden;
	margin: 0;
	position: absolute;
	/* top: 100%; */
	/* top: 50%; */
	/* left: 50%; */
	/* -ms-transform: translate(-50%, 0%); */
	/* transform: translate(0%, -50%); */
}
.cheating {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#showcase img {
	cursor: pointer;
}
.btn {
	background-color: #0cd1eb;
	color: black !important;
	margin: auto;
	cursor: pointer;
	transition: 0.1s ease;
	font-weight: bolder !important;
	letter-spacing: 0.1em;
	border-radius: 0;
	box-shadow: none;
}
.btn:hover {
	background-color: #333;
	color: #0cd1eb !important;
}

#showcase {
	height: 280px;
	overflow: visible !important;
}
/* @media (max-width: 600px) {
  #showcase {
    height: 250px;
  }
} */
.card {
	width: 200px;
	height: 250px;
	/* color: #1f3448; */
	color: white;
	padding: 12px;
	text-align: center;

	background-color: #222222;
	border: 2px solid white;
}

.navbutton {
	/* background-color: rgba(255, 255, 255, 0.1); */
	background-color: #444444 !important;
	border: none;
	color: white;
	/* padding: 5px 22px; */
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 22px !important;
	padding-right: 22px !important;
	border-radius: 0px;
	text-align: center !important;
	text-decoration: none;
	/* display: inline-block; */
	float: left;
	font-size: 16px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
@media (max-width: 500px) {
	.navbutton {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

.navbutton:hover {
	background-color: #333;
	color: #0cd1eb;
	transition: 0.4s;
}

.navbutton:active {
	color: black;
	background-color: #0cd1eb !important;
}
.navbtncontainer {
	position: absolute;
	display: inline;
	text-align: center;
	margin: auto;
	left: 50%;
	transform: translate(-50%, 0%);
}
.left_col {
	padding-right: 3px !important;
}
.right_col {
	padding-left: 3px !important;
}
.back-arrow {
	height: 18px;
	margin-right: 6px;
}
.back-btn {
	margin: 4px;
	color: white;
	font-size: 20px;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	top: 6px;
	left: 6px;
	text-decoration: underline solid white;
	cursor: pointer;
}
header {
	/* height: 40vh;
	min-height: 300px; */
	width: 100%;
	background-color: #222;
	color: white;
	position: relative;
	/* padding: 6% 5%; */
}
