.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  font-weight: bold;
  text-decoration: none;
}
.wrap {
  width: 100%; /* fixed width, centered in viewport */
  transform: translate(0%, 0%);
  position: relative;
}
.wrap > h1 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 3px;
}
#showcase {
  width: 100%;
  visibility: hidden;
  margin: 0;
  position: absolute;
  top: 100%;
}
#showcase img {
  cursor: pointer;
}
.btn {
  background-color: #0cd1eb;
  color: black !important;
  margin: auto;
  cursor: pointer;
  transition: 0.1s ease;
  font-weight: bolder !important;
  letter-spacing: 0.1em;
}
.btn:hover {
  background-color: #333;
  color: white !important;
}

#showcase {
  height: 300px;
  overflow: visible !important;
}
/* @media (max-width: 600px) {
  #showcase {
    height: 250px;
  }
} */
.card {
  width: 200px;
  height: 250px;
  /* color: #1f3448; */
  color: white;
  padding: 12px;
  text-align: center;

  background-color: #222222;
  border: 2px solid white;
}

.navbutton {
  background-color: rgba(255, 255, 255, 0.1); /* Green */
  border: none;
  color: white;
  /* padding: 5px 22px; */
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
  border-radius: 4px;
  text-align: center !important;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.navbutton:active {
  color: black;
  background-color: #0cd1eb !important;
}
.navbtncontainer {
  /* background-color: #0cd1eb !important; */
  position: absolute;
  text-align: center;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0%);
}
