/* -----GLOBALS-------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Custom';
	src: url('./Custom.otf') format('opentype');
}

body {
	width: 100%;
	background: #ffffff;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
	width: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Custom' !important;
}

h4 {
	margin: 0 0 16px 0;
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 32px;
	padding-left: 15px;
	border-left: 5px solid #0cd1eb;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	text-align: justify;
}

section {
	padding: 5em 0;
	overflow: hidden;
}

.cta {
	line-height: 5em;
	letter-spacing: 1px;
	background-color: #0cd1eb;
	color: black;
	font-family: 'Custom';
	/* margin: 16px; */
	padding: 1em;
}

.cta:hover {
	background-color: #333;
	color: #0cd1eb;
	transition: 0.4s;
}

.cta:active {
	background-color: black;
}

.mybtn {
	font-family: 'Custom';
}
/* -----NAVBAR-------------------------------------------------------------------------------------*/

nav,
.nav-wrapper {
	font-family: 'Custom';
	letter-spacing: 2px;
	background: #222222;
	box-shadow: none;
	/* height: 5em; */
}

#navbar {
	position: fixed;
	z-index: 100;
	transition: 0.5s;
	transition-delay: 0.2s;
	padding-bottom: 0;
}

.nav-logo {
	margin: 6% 5%;
	height: 40px;
}

.underline li a {
	position: relative;
	text-decoration: none;
}

.underline li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 3px solid #0cd1eb;
	transition: 0.4s;
}
.underline li a:hover:after {
	width: 100%;
}

.sidenav {
	background-color: #555;
	padding-top: 2em;
}

.sidenav li > a {
	color: white;
	font-family: 'Custom';
}

/* -----LANDING-----------------------------------------------------------------------------*/

#landing {
	/* display: none; */
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* -----ABOUT-----------------------------------------------------------------------------*/

#about {
	background-color: #f0f0f0;
}

#about .row {
	padding: 2em 8% 0 8%;
}

#about p {
	margin-bottom: 1em;
}

.about-img {
	width: 100%;
	/* padding: 0 10% 0 0; */
}

/* -----EVENTS-----------------------------------------------------------------------------*/

#events {
	background-color: #222;
}
#events .row {
	padding: 2em 8% 0 8%;
}

#events p {
	margin-bottom: 1em;
}
#events h4 {
	color: white;
	margin: 0 0 16px 0;
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 32px;
	padding-left: 15px;
	border-left: 5px solid #0cd1eb;
}

#events p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	text-align: justify;
}
/* -----GALLERY---------------------------------------------------------------------------*/

#gallery {
	padding: 0;
	/* padding-bottom: 7%; */
	background-color: #f0f0f0;
}

/* -----TEAM & SPONSOR------------------------------------------------------------*/

#tns {
	background: #f0f0f0;
}

#tns .row div {
	padding: 1% 8%;
	margin-bottom: 5%;
}

.banner {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* -----FOOTER---------------------------------------------------------------------------*/

#footer {
	margin-top: -1.25%;
	background-color: #333;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
}

.vit-logo {
	height: 5em;
	margin: 3em 0;
}

#footer p {
	color: #555;
	margin: 1em 0;
}
.dev-text {
	color: #555;
	margin: 1em 0;
}

.socials {
	margin: 1em 0;
}

.socials a {
	font-size: 24px;
	color: white !important;
	margin: 0 10px;
}

.socials a i:hover {
	color: #0cd1eb;
	transition: 0.5s;
}

/* -----TEAM_PAGE---------------------------------------------------------------------------*/

header {
	/* height: 40vh;
	min-height: 300px; */
	width: 100%;
	background-color: #222;
	color: white;
	position: relative;
	padding: 6% 5%;
}

h2 {
	padding-left: 15px;
	border-left: 10px solid #0cd1eb;
	display: inline-block;
	/* text-justify: left; */
}
.info h2 {
	border-left: 0 !important;
}

h4 {
	display: inline-block;
	text-align: left;
}

.team-heading {
	width: 100%;
	display: inline-block;
	margin-top: 2em;
}

.back-arrow {
	height: 18px;
	margin-right: 6px;
}

.back-btn {
	margin: 4px;
	color: white;
	font-size: 20px;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	top: 6px;
	left: 6px;
	text-decoration: underline solid white;
	z-index: 100;
}

header h2 {
	text-align: left;
}

header {
	max-height: 300px;
	padding: 0;
}

.particles-js-canvas-el {
	height: 100%;
}

.heading-container {
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 99;
	top: 20%;
}

.card {
	min-width: 200px;
	max-width: 250px;
	/* width: 30%; */
}

.name-card {
	background: #f0f0f0;
	padding: 0.5%;
	margin: 2% 0.5%;
	width: 300px;
	/* width: 22%; */
	height: 110px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.name-card p {
	text-align: center;
	/* margin-bottom: 2%; */
}

.card,
.card-image,
.card .card-image img {
	border-radius: 0;
	box-shadow: none;
}

.card .card-image img {
	/* max-height: 200px; */
	object-fit: contain;
}

.card-content {
	background-color: #f0f0f0;
	/* text-align: center !important; */
	white-space: nowrap;
	font-size: 14px;
	line-height: 14px;
	width: 100%;
}

.name {
	font-weight: bold !important;
}

.card-content p {
	text-align: center;
}

main {
	padding: 5%;
}

.custom-row-1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 5% 0;
	flex-flow: wrap;
}

.custom-row-2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 5% 0;
	flex-flow: wrap;
}

/* -----SPONSOR_PAGE-------------------------------------------------------------------------------------*/

.quick-facts,
.sponsor-benefits {
	margin-top: 2em;
	margin-bottom: 4em;
}

.quick-facts ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quick-facts ul li {
	margin: 10px 0;
	/* padding: 16px; */
	/* background-color: #f0f0f0; */
	width: 100%;
	text-align: left;
	/* list-style-type: disc; */
}

.sponsor-benefits ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sponsor-benefits ul li {
	margin: 16px 0;
	/* padding: 16px; */
	/* background-color: #f0f0f0; */
	width: 100%;
	text-align: left;
}

.sponsor-heading {
	margin-top: 4em;
}

.logo-container {
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.logo-container img {
	max-width: 250px;
	max-height: 150px;
	margin: 3em 2%;
}
