/* -----GLOBALS-------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Custom";
  src: url("./Custom.otf") format("opentype");
}

body {
  width: 100%;
  background: #ffffff;
  color: black;
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Custom";
}

h4 {
  margin: 0 0 16px 0;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 32px;
  padding-left: 15px;
  border-left: 5px solid #0cd1eb;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-align: justify;
}

section {
  padding: 5em 0;
  overflow: hidden;
}

.cta {
  line-height: 5em;
  letter-spacing: 1px;
  background-color: #0cd1eb;
  color: black;
  font-family: "Custom";
  /* margin: 16px; */
  padding: 1em;
}

.cta:hover {
  background-color: #333;
  color: #0cd1eb;
  transition: 0.4s;
}

.cta:active {
  background-color: black;
}

/* -----NAVBAR-------------------------------------------------------------------------------------*/

nav,
.nav-wrapper {
  font-family: "Custom";
  letter-spacing: 2px;
  background: #222222;
  box-shadow: none;
  /* height: 5em; */
}

#navbar {
  position: fixed;
  z-index: 100;
  transition: 0.5s;
  transition-delay: 0.2s;
  padding-bottom: 0;
}

.nav-logo {
  margin: 6% 5%;
  height: 40px;
}

.underline li a {
  position: relative;
  text-decoration: none;
}

.underline li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid #0cd1eb;
  transition: 0.4s;
}
.underline li a:hover:after {
  width: 100%;
}

.sidenav {
  background-color: #555;
  padding-top: 2em;
}

.sidenav li > a {
  color: white;
  font-family: "Custom";
}

/* -----LANDING-----------------------------------------------------------------------------*/

#landing {
  height: 100vh;
}

/* -----ABOUT-----------------------------------------------------------------------------*/

#about {
  background-color: #f0f0f0;
}

#about .row {
  padding: 2em 8% 0 8%;
}

#about p {
  margin-bottom: 1em;
}

.about-img {
  width: 100%;
  /* padding: 0 10% 0 0; */
}

/* -----EVENTS-----------------------------------------------------------------------------*/

#events {
  background-color: #222;
}
#events .row {
  padding: 2em 8% 0 8%;
}

#events p {
  margin-bottom: 1em;
}
#events h4 {
  color: white;
  margin: 0 0 16px 0;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 32px;
  padding-left: 15px;
  border-left: 5px solid #0cd1eb;
}

#events p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-align: justify;
}
/* -----GALLERY---------------------------------------------------------------------------*/

#gallery {
  padding: 0;
  padding-bottom: 7%;
  background-color: #f0f0f0;
}

/* -----TEAM & SPONSOR------------------------------------------------------------*/

#tns {
  background: #f0f0f0;
}

#tns .row div {
  padding: 1% 8%;
  margin-bottom: 5%;
}

.banner {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* -----FOOTER---------------------------------------------------------------------------*/

#footer {
  margin-top: -1.25%;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.vit-logo {
  height: 5em;
  margin: 3em 0;
}

#footer p {
  color: #555;
  margin: 1em 0;
}

.socials {
  margin: 1em 0;
}

.socials a {
  font-size: 32px;
  color: white !important;
  margin: 0 10px;
}

.socials a i:hover {
  color: #0cd1eb;
  transition: 0.5s;
}
