/* -----FOOTER---------------------------------------------------------------------------*/

@media only screen and (max-width: 750px) {
	#footer {
		flex-direction: column;
		justify-content: center;
	}

	#footer p {
		order: 2;
	}

	.socials {
		order: 1;
		margin-bottom: 2em;
	}

	.heading-container h2 {
		font-size: 2.2em;
		margin: 2.2em 0 12% 0;
		border-left: 5px solid #0cd1eb;
	}
}
